[global]
language=de
SwitchChannel:must_include:lazy=schalte,um
VieraPauseDE:must_include:continue_1=(spiele|zeige),weiter
VieraPauseDE:must_include:continue_2=setze,fort
VieraPauseDE:must_include:pause_1=(halte|paus|stop|unterbreche)
[secret]
tv_sets=plasma
plasma:description=big TV in living room
plasma:room=default
plasma:ip=192.168.0.15
plasma:on_mode=cec
plasma:channels=ARD,ZDF,Arte,NDR,HR,SWR,MDR,BR,One,Servus
